:root {
  --col-1: #b8b8fc;
  --col-2: #eddd54;
  --col-3: #b19807;
  --col-4: #fff3bf;
  --col-5: #04acfa;
}

.App {
  max-width: 700px;
  margin: 40px auto;
}

.App footer {
  color: var(--col-5);
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}
.App .footer-link {
  text-decoration: none;
  color: var(--col-1);
}
