:root {
  --col-1: #f3f3f3;
  --col-2: #fdeeee;
  --col-3: #b4b4b4;
  --col-4: #ebf2fc;
  --col-5: #f2f6f2;
  --col-6: #cffefe;
}
.App footer {
  color: var(--col-3);
  font-size: 15px;
  line-height: 18px;
  margin-top: 5px;
  top: 548px;
  left: 250px;
  text-align: center;
}

.App .container {
  padding: 20px;
  margin-top: 40px;
  border: 8px ridge #ebf2fc;
  border-radius: 6px;
  box-shadow: 2px 1px 20px #e5a807;
}
