.Weather {
  padding-left: 5px;
  margin: 10px;
}
.Weather h1 {
  color: var(--col-1);
  font-size: 36px;
  font-weight: 500;
  line-height: 38px;
  margin-top: 5px;
  margin-left: 158px;
}

.Weather ul {
  margin: 0;
  padding-left: 10px;
}
.Weather li {
  list-style: none;
  font-size: 19px;
  font-weight: 100;
}
.Weather .weather-icon {
  margin-right: 10px;
  font-size: 60px;
  padding: 0;
}

.Weather .temperature {
  font-size: 50px;
  font-weight: 400;
  line-height: 34px;
  padding: 0;
}
.Weather .unit {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: -32px;
}
.Weather .weather-description {
  height: 10px;
}
