.Weather {
  padding: 15px;
  margin: 10px;
  background: var(--col-4);
  border: 2px ridge var(--col-3);
  border-radius: 6px;
  box-shadow: 3px 5px 30px var(--col-4);
}

.Weather .btn {
  background: var(--col-2);
  color: var(--col-3);
  font-weight: 500;
  border: 1px solid var(--col-3);
}
