.Weather {
  padding: 15px;
  margin: 10px;
  background: linear-gradient(192deg, var(--col-15) 43%, var(--col-14) 92%);
  border: 2px ridge var(--col-6);
  border-radius: 6px;
  box-shadow: 1px 10px 20px var(--col-12);
}

.Weather .btn {
  background: var(--col-16);
  color: var(--col-15);
  font-weight: 500;
}
